In [1]:
import pandas as pd
import numpy as np
from UnivariateFunctions import Univariate as Unv   # importing the newly created class

In [2]:
dataset = pd.read_csv("Placement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [4]:
# Quan = ["ssc_p","hsc_p","degree_p","etest_p","mba_p","salary"]

# Quan

In [5]:
# Qual = ["gender","ssc_b","hsc_b","hsc_s","degree_t","workex","specialisation","status"]

# Qual

In [6]:
# goal is to create create 'quan'/'qual' list with respective columns automatically

In [7]:
quan,qual = Unv.quanQual(dataset)   # calling the function to separate quan and qual data.

In [8]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [9]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Central Tendency

In [10]:
dataset['ssc_p'].mean()

67.30339534883721

In [11]:
dataset['ssc_p'].mode()

0    62.0
Name: ssc_p, dtype: float64

In [12]:
dataset['ssc_p'].mode()[0]

62.0

In [13]:
dataset['ssc_p'].median()

67.0

In [14]:
CT_Table = Unv.Central_Tendency(quan,dataset)     # calling the function to get MCT data

In [15]:
CT_Table

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

# Percentile

In [16]:
import numpy as np

In [17]:
np.percentile(dataset["ssc_p"],50)    # finding 50th percentile for "ssc_p" column

67.0

In [18]:
# calling the function to get percentile data

In [19]:
P_Table = Unv.Percentile(quan,dataset)

In [20]:
P_Table

          sl_no ssc_p  hsc_p degree_p etest_p    mba_p    salary
Q1:25%     54.5  60.6   60.9     61.0    60.0   57.945  240000.0
Q2:50%    108.0  67.0   65.0     66.0    71.0     62.0  265000.0
Q3:75%    161.5  75.7   73.0     72.0    83.5   66.255  300000.0
99%      212.86  87.0  91.86    83.86    97.0  76.1142       NaN
Q4:100%   215.0  89.4   97.7     91.0    98.0    77.89  940000.0

# Inter Quartile Range

In [21]:
IQR_Table = Unv.IQR(quan,dataset)   #IQR function

In [22]:
IQR_Table

         sl_no  ssc_p  hsc_p degree_p etest_p   mba_p    salary
IQR      107.0   15.1   12.1     11.0    23.5    8.31   60000.0
1.5Rule  160.5  22.65  18.15     16.5   35.25  12.465   90000.0
Lesser  -106.0  37.95  42.75     44.5   24.75   45.48  150000.0
Greater  322.0  98.35  91.15     88.5  118.75   78.72  390000.0
Min          1  40.89   37.0     50.0    50.0   51.21  200000.0
Max        215   89.4   97.7     91.0    98.0   77.89  940000.0

In [23]:
Descriptive = pd.concat([CT_Table,P_Table,IQR_Table]) # will merge the tables.(CT, Percentile, IQR)

In [24]:
Descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [25]:
lesser, greater = Unv.get_Outliers_list(Descriptive,quan)   # function to check present outliers

In [26]:
lesser    # gives the column having lesser range outliers

['hsc_p']

In [27]:
greater   # gives the columns have Greater range outliers

['hsc_p', 'degree_p', 'salary']

In [28]:
dataset = Unv.Outliers_Replace(lesser,greater,dataset,Descriptive) # replace outliers function

F:\HOPE AI\DataScience-Univariate\Univariate Analysis\5. Frequency\UnivariateFunctions.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[N][dataset[N]<Descriptive[N]['Lesser']] = Descriptive[N]["Lesser"]
F:\HOPE AI\DataScience-Univariate\Univariate Analysis\5. Frequency\UnivariateFunctions.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[N][dataset[N]>Descriptive[N]['Greater']] = Descriptive[N]["Greater"]
F:\HOPE AI\DataScience-Univariate\Univariate Analysis\5. Frequency\UnivariateFunctions.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[N][dataset[N]>Descriptive[N]['Greater']] = Descriptive[N]["Greater"]
F:\HOPE AI\DataScience-Univariate\Univariate Analysis\5. Frequency\UnivariateFunctions.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[N][dataset[N]>Descriptive[N]['Greater']] = Descriptive[N]["Greater"]

In [29]:
# reexecution to check if the ouliers are replaced

In [30]:
IQR_Table = Unv.IQR(quan,dataset)

In [31]:
IQR_Table

         sl_no  ssc_p  hsc_p degree_p etest_p   mba_p    salary
IQR      107.0   15.1   12.1     11.0    23.5    8.31   60000.0
1.5Rule  160.5  22.65  18.15     16.5   35.25  12.465   90000.0
Lesser  -106.0  37.95  42.75     44.5   24.75   45.48  150000.0
Greater  322.0  98.35  91.15     88.5  118.75   78.72  390000.0
Min          1  40.89  42.75     50.0    50.0   51.21  200000.0
Max        215   89.4  91.15     88.5    98.0   77.89  390000.0

In [32]:
lesser, greater = Unv.get_Outliers_list(IQR_Table,quan)

In [33]:
lesser

[]

In [34]:
greater

[]

# Frequencies

In [35]:
dataset["degree_p"].value_counts()  # gives the index and how many times it occured

degree_p
65.0    20
66.0    13
72.0    12
64.0    11
58.0     9
        ..
82.0     1
50.8     1
76.0     1
63.0     1
77.6     1
Name: count, Length: 89, dtype: int64

In [36]:
dataset["degree_p"].value_counts().values

array([20, 13, 12, 11,  9,  9,  9,  8,  8,  7,  5,  5,  4,  3,  3,  3,  3,
        3,  2,  2,  2,  2,  2,  2,  2,  2,  2,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1], dtype=int64)

In [37]:
F_table = Unv.Frequency_Table("degree_p",dataset)

In [38]:
F_table

    Unique_Values  Frequency  Relative_Frequency    CumSum
0            65.0         20            0.194175  0.194175
1            66.0         13            0.126214  0.320388
2            72.0         12            0.116505  0.436893
3            64.0         11            0.106796  0.543689
4            58.0          9            0.087379  0.631068
..            ...        ...                 ...       ...
84           82.0          1            0.009709  2.048544
85           50.8          1            0.009709  2.058252
86           76.0          1            0.009709  2.067961
87           63.0          1            0.009709  2.077670
88           77.6          1            0.009709  2.087379

[89 rows x 4 columns]